.user_entry {
  padding: 15px;
  padding-top: 25px;

  font-size: 18px;

  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.entry_line {
  padding-top: 10px;
  padding-bottom: 14px;
  color: #4c5052;
}

.line_label {
  font-weight: bold;
  margin-right: 10px;
}
