.form {
  margin: 30px;
  padding: 15px 30px;

  height: 70vh;
}

.form_field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 5px;
  text-align: left;
}

.form_field label {
  font-weight: bold;
  margin-bottom: 0;
  display: block;

  color: #4c5052;
}

.form_field input {
  font: inherit;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 400px;
  max-width: 100%;
  margin-bottom: 15px;
}

.cancel_button {
  padding: 15px 30px;
  margin-right: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  margin-top: 25px;

  border: 1px solid #4c5052;
  background-color: #fff;
  color: #4c5052;
}

.cancel_button:hover {
  border: 1px solid red;
  background-color: #fff;
  color: red;
}

.submit_button {
  padding: 15px 30px;
  margin-right: 20px;
  border: none;
  border-radius: 15px;

  width: 57%;

  border: 1px solid #4c5052;

  background: #4c5052;
  color: #fff;
}

.submit_button:hover {
  background-color: green;
}
