/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 35fr 65fr;
}

.user_entries__container {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr 4.5fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
