/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 40fr 60fr;
}

.user_entries__container {
  margin: 30px;
  padding: 15px 30px;
}
